@import "tailwindcss";

@theme {
  --color-brand-orange: #fc4c02;
  --font-sans: 'Inter', system-ui, sans-serif;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
